In [ ]:
list1 = [1, 2, 3, 4]
it = iter(list1)
print(next(it))

In [ ]:
print(next(it))

In [ ]:
list1 = [1, 2, 3, 4]
it = iter(list1)
for x in it:
    print(x, end = " ")

In [ ]:
import sys
list1 = [1, 2, 3, 4]
it = iter(list1)
while True:
    try:
        print(next(it))
    except StopIteration:
        sys.exit()

In [ ]:
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        x = self.a
        self.a += 1
        return x
myclass = MyNumbers()
myiter = iter(myclass)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

In [ ]:
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        if self.a <= 20:
            x = self.a
            self.a += 1
            return x
        else:
            raise StopIteration
myclass = MyNumbers()
myiter = iter(myclass)
for x in myiter:
    print(x)

In [ ]:
import sys
def fibonacci(n):
    a, b ,counter = 0, 1, 0
    while True:
        if counter > n:
            return
        yield a
        a, b = b, a + b
        counter += 1

f = fibonacci(10)
while True:
    try:
        print(next(f), end = " ")
    except StopIteration:
        sys.exit()

In [ ]:
x = lambda a : a + 10
print(x(5))

In [ ]:
sum = lambda arg1, arg2: arg1 + arg2
print(sum(10, 20))

In [ ]:
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
print(mydoubler(11))

In [ ]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)
stack.pop()
print(stack)
stack.pop()
stack

In [ ]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
queue.popleft()

In [ ]:
queue.popleft()

In [ ]:
queue

In [ ]:
vec = [2, 4, 6]
[3 * x for x in vec]

In [ ]:
[[x, x ** 2] for x in vec]

In [ ]:
freshfruit = ['    banana', '    loganberry', '   passion fruit']
[weapon.strip() for weapon in freshfruit]

In [ ]:
[3 * x for x in vec if x > 3]

In [ ]:
[3 * x for x in vec if x < 2]

In [ ]:
vec1 = [2, 4, 6]
vec2 = [4, 3, -9]
[x * y for x in vec1 for y in vec2]

In [ ]:
[x + y for x in vec1 for y in vec2]

In [ ]:
[vec1[i] * vec2[i] for i in range(len(vec1))]

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
[[row[i] for row in matrix ] for i in range(4)]

In [ ]:
transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

In [ ]:
del a[2: 4]

In [ ]:
a

In [ ]:
t = 12345, 54321, 'hello!'
t[0]

In [ ]:
t

In [ ]:
u = t, (1, 2, 3, 4, 5)
u

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)
'orange' in basket

In [ ]:
a = set('abracadabra')
b = set('alacazam')
a

In [ ]:
a - b

In [ ]:
a | b

In [ ]:
a & b

In [ ]:
a ^ b

In [ ]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

In [63]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [64]:
tel['jack']

4098

In [65]:
del tel['sape']
tel['irv'] = 4127

In [66]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [67]:
list(tel.keys())

TypeError: 'list' object is not callable

In [68]:
sorted(tel.keys())

['guido', 'irv', 'jack']

In [69]:
'guido' in tel

True

In [70]:
'jack' not in tel

False

In [71]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [72]:
{x: x ** 2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [73]:
dict(sape = 4139, guido = 4127, jack = 4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [74]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

In [75]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [77]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print ('what is your {0}? it is {1}.'.format(q, a))

what is your name? it is lancelot.
what is your quest? it is the holy grail.
what is your favorite color? it is blue.

In [78]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [80]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [81]:
type(sorted(set(basket)))

list

In [82]:
type(set(basket))

set